/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*	cores usadas
 * 	#00B348 VERDE
 * 	#E08A2C LARANJA
 * 	#666 CINZA
 * 
 * -fx-accent: #666;
 * 
 *  The color to use in ListView/TreeView/TableView to indicate hover.
    -fx-cell-hover-color: #cce3f4;
 	
 	-fx-selection-bar: -fx-accent;
 	
 	/* Background color to use for selection of list cells etc. This is when
     * the control doesn't have focus or the row of a previously selected item.
    -fx-selection-bar-non-focused: lightgrey;
    
    /* The color to use in ListView/TreeView/TableView to indicate hover.
    -fx-cell-hover-color: #cce3f4;
 */
 
 *{ -fx-text-fill: #666; }
.border{
	-fx-border-color: #666;
}
.botao{
	-fx-background-color: #FFF;
	-fx-text-fill: #00B348;
	-fx-border-radius: 2px ;
}
.botao:focused{
	-fx-background-color: #FFF;
	-fx-text-fill: #E08A2C;
	-fx-border-color: #E08A2C;
	-fx-border-radius: 2px ;
}
.botao:hover{
	-fx-background-color: #FFF;
	-fx-border-color: #00B348;
	-fx-border-radius: 2px ;
	-fx-text-fill: #00B348;
}
TextField, PasswordField, DatePicker{
	-fx-border-color: #E08A2C;
	-fx-border-radius: 5;
	-fx-background-insets: 0;
}
.focus:focused{
	-fx-background-color: #FFF #E08A2C;
	-fx-border-color: #E08A2C;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {    
	-fx-border-width: 1px 1px 0px 1px;
    -fx-border-color: #00B348;
	-fx-border-radius: 4px 4px 0px 0px;
}
.tab-pane > .tab-header-area > .headers-region >.tab:selected .focus-indicator{ -fx-border-width: 0px; }
.menu:hover { 
	-fx-border-color: #00B348;
	-fx-background-color: #FFF;
	-fx-border-radius: 2px;
 }
.menu:showing { 
	-fx-border-color: #00B348;
	-fx-background-color: #FFF;
	-fx-border-radius: 2px;	
}
.menu-item{ -fx-background-color: #FFF; }
.menu-item:hover {
    -fx-border-color: #00B348;
	-fx-background-color: #FFF;
	-fx-border-radius: 2px;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

#btnSplash, #btnSplash:focused,#btnSplash:hover {
	-fx-background-color: #F0F0F0;
}
.separator *.line { 
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: #BDBDBD;
	-fx-background-insets: 0;
}
.tooltip {
    -fx-background-radius: 2 2 2 2;
    -fx-background-color: #00B348;
    -fx-text-fill: #00B348;
    -fx-font-size: 1.1em;
}
ListView{ 
	-fx-border-color: #E08A2C;
	-fx-background-insets: 0; 
	-fx-border-radius: 5px;
}
ListView:focused{ 
	-fx-border-color: #00B348; 
	-fx-background-insets: 0; 
	-fx-border-radius: 5px;
}
ListView:hover{ 
	-fx-cell-hover-color: #00B348;
}


